:root {
    --backgroundColor: rgb(62, 58, 75);
    --containerColor: rgb(201, 59, 214);
    --textColor: rgb(255, 255, 255);
    --borderRadius: 10px;
}

body {
    background-color: var(--backgroundColor);
    color: white;
    font-size: 20px;
    line-height: 32px;
}

header {
    text-align: center;
}

.page-title{
    color: var(--containerColor);
    font-size: 65px;
    margin: 25px 0;  
    line-height: 65px;
}

header p {
    margin: 0 auto 50px ;
    max-width: 1000px;
}

.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2%;
}

.justify-center {
    justify-content: center;
}

.card-column {
    width: 31%;
    background-color: var(--backgroundColor);
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px dashed var(--textColor);
    padding: 20px;
    position: relative;
    height: 100%;
}

.card h2, .card p {
    color: var(--containerColor);
}

.card h2 {
    font-size: 36px;
    border: 2px solid var(--textColor);
    padding: 15px;
    border-radius: var(--borderRadius);
    position: absolute;
    top: -34px;
    background-color: var(--backgroundColor);
    width: 90%;
}

.card p {
    margin-top: 25px;
}

.code-block {
    background: linear-gradient(rgb(120, 35, 128), var(--containerColor));
    border-radius: var(--borderRadius);
    padding: 15px;
    white-space: pre-wrap;
    flex: 1;
}

footer {
    color: var(--containerColor);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

@media (max-width: 1550px) {
    .card-column {
        width: 48%;
    }
}

@media (max-width: 930px) {
    body {
        padding: 15px;
    }
    .card-column {
        width: 100%;
    }
}